<%= simple_form_for(@author, html: {class: 'form-horizontal'}) do |f| %>
    <%= f.input :name_surname %>

    <p>I agree with the terms of the privacy policy and allow my personal data to be legitimately used.</p>

    <%= f.input :checkbox, label: 'I understand' do %>
        <%= check_box_tag :agree %>
    <% end %>


    <%= f.button :submit %>
<% end %>