<div class="well col-md-6">
  <div class="media">
    <a class="pull-left" href="#">
      <% if book.book_images.blank? %>
          <img class="media-object" src="http://placekitten.com/150/150">
      <% else %>
          <%= (image_tag(book.book_images.first.image.url(:main), size: "150")) %>
      <% end %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to book.title, book_path(book) %></h4>
      <p class="text-right">By <%= book.user.name + ' ' + book.user.surname %></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
        Aliquam in felis sit amet augue.</p>
      <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> <%= time_ago_in_words(book.created_at) %> ago </span></li>
        <li>|</li>
        <span><i class="glyphicon glyphicon-comment"></i> <%= book.reviews.count %> comments</span>
        <li>|</li>
        <li>
          <% 5.times do |i| %>
              <% if book.rating > i %>
                  <span class="glyphicon glyphicon-star"></span>
              <% else %>
                  <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>