<%= simple_form_for(@book, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :genres, collection: Genre.all, input_html: { class: 'multiselectuser', multiple: true} %>
    <%= f.input :authors, collection: Author.all, label_method: :name_surname, value_method: :id, input_html: { class: 'multiselectuser', multiple: true} %>

    <%= f.input :image, as: :file, input_html: { :multiple => true }, name: "book[book_attachments_attributes][][image]" %>
    <p>I agree with the terms of the privacy policy and allow my personal data to be legitimately used.</p>

    <%= f.input :checkbox, label: 'I understand' do %>
        <%= check_box_tag :agree %>
    <% end %>


    <%= f.button :submit %>
<% end %>