<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<div class="container">

  <h2>All books</h2>

  <div>
    <%= link_to 'All', books_path(:sort => 'All'), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Satire', books_path(:sort => 'Satire'), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Health', books_path(:sort => 'Health'), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Guide', books_path(:sort => 'Guide'), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Travel', books_path(:sort => 'Travel'), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Science', books_path(:sort => 'Science'), class: 'btn btn-default btn-sm' %>
  </div>
  <hr>

  <%= content_tag(:h1, 'There will be books soon!') if @books.blank? %>

  <%= render @books %>

</div>