<div class="row">
  <h2><%= @book.title %></h2>
  <hr>
  <div class="col-md-3">
    <h4>Book image</h4>
    <%= image_tag @book.book_images.first.image.url(:title) unless @book.book_images.blank? %>
  </div>
  <div class="col-md-9">
    <h4>Description</h4>

    <%= @book.description %>
    <hr>
    <% @book.book_images.each do |book_image| %>
      <%= image_tag book_image.image.url(:main) %>
    <% end %>
  </div>
  <div class="col-md-12">
    <hr>
    <h4>Information</h4>
    <p><strong>Author:</strong> <%= @book.authors.map {|author| author.name_surname }.join(', ') %><p>
    <p><strong>Category:</strong> <%= @book.genres.map {|genre| genre.title }.join(', ') %><p>
    <p><strong>Book rating:</strong> <%= @book.rating.to_f.round(1) %> <p>
    <p><strong>Author rating:</strong> <%= @book.author_rating.round(1) unless @book.author_rating.blank? %> <p>
    <p><strong>Added by:</strong> <%= @book.user.name + ' ' + @book.user.surname %>, on <%= @book.created_at.to_date %> <p>
  </div>
  <div class="col-md-12">
    <hr>
    <h4>Reviews</h4>
    <%= render @book.reviews %>

    <%= render 'reviews/form' unless @book.reviews.exists?(user: current_user) %>
  </div>
</div>