<% @review ||= Review.new %>

<%= simple_form_for(@review, html: {class: 'form-horizontal'}) do |f| %>
    <%= f.input :comment %>

    <strong class="pull-left">Bad</strong><strong class="pull-right">Great</strong>
    <%= f.range_field :rate, :in => 1..5, :step => '1' %>


    <%= f.hidden_field :book_id, value: @book.id %>

    <%= f.button :submit %>
<% end %>