<div class="">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong><%= review.user.name + ' ' + review.user.surname %></strong>
      <span class="text-muted">commented <%= time_ago_in_words(review.created_at) %> ago</span>
    </div>
    <div class="panel-body">
      <h4><%= review.comment %></h4>
      <% 5.times do |i| %>
          <% if review.rate > i %>
              <span class="glyphicon glyphicon-star"></span>
          <% else %>
              <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
      <% end %>
    </div><!-- /panel-body -->
    <%= link_to 'Delete', review_path(review), method: :delete if review.user == current_user %>
  </div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->