<!DOCTYPE html>
<html>
<head>
  <title>LastCw</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to '#' %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li><%= link_to 'Add new book', new_book_path %></li>
          <li><%= link_to 'Add new author', new_author_path %></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to('Edit registration', edit_user_password_path) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to('Login', new_user_session_path) %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{type}" %>
  <% end %>

  <%= yield %>
</div>


</body>
</html>
